body {
    font-size: 18px;
    font-family: 'outfit';
    background-color: hsl(217, 54%, 11%);
    display: grid;
    place-items: center;
}

.container {
    background-color: hsl(216, 50%, 16%);
    width: 16.5rem;
    border-radius: 10px;
    color: hsl(0, 11%, 93%);
    margin: 5% 0 3rem 0;
}

main {
    margin-left: 17px;
}

h1 {
    font-size: 100%;
    font-weight: 600;
    margin-top: 0;
}

h1:hover {
    color: hsl(178, 100%, 50%);
}

.container > img {
    width: 14.5rem;
    height: 15rem;
    margin: 16px;
    border-radius: 5px;
}

p {
    color: hsl(215, 51%, 70%);
    font-size: 80%;
}

#time {
    color: hsl(215, 51%, 70%);
}

.info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-right: 5%;
    font-size: 80%;
}

#amount {
    font-size: 90%;
    color: hsl(178, 100%, 50%);
}

hr {
    width: 14.3rem;
    margin-left: 0%;
}

.foot {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 90%;
    padding-bottom: 1rem;
}

.foot > p {
    margin-left: 5%;
}

#avatar {
    width: 30px; 
    height: 30px;
    border: 1px solid white;
    border-radius: 50%;
}

#name {
    color: white;
}

#name:hover {
    color: hsl(178, 100%, 50%);
}

.attribution { 
    font-size: 11px; 
    text-align: center;
}
.attribution a { color: hsl(228, 45%, 44%); }

@media screen and (max-width: 375px)  {
    .container {
        margin-top: 10%;
    }
}