body {
    font-size: 18px;
    font-family: 'outfit';
    background-color: hsl(217, 54%, 11%);
    display: grid;
    place-items: center;
    min-height: 100vh;
    margin: 0;
}

.container {
    background-color: hsl(216, 50%, 16%);
    width: 16rem;
    height: 29rem;
    border-radius: 10px;
    color: hsl(0, 11%, 93%);
}

.content {
    margin: 0 12px;
}

h1 {
    font-size: 100%;
    font-weight: 600;
    margin-top: 0;
}

h1:hover {
    color: hsl(178, 100%, 50%);
}

img {
    width: 14rem;
    height: 14.5rem;
    border-radius: 5px;
}

#image {
    margin: 15px;
    width: 14rem;
    height: 14.5rem;
    color: hsl(178, 100%, 50%);
}

p {
    color: hsl(215, 51%, 70%);
    font-size: 80%;
}

.info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-right: 5%;
    font-size: 80%;
    padding-bottom: 0.45rem;
}

.amount {
    display: inherit;
}

.time {
    display: inherit;
}

#amount {
    font-size: 90%;
    color: hsl(178, 100%, 50%);
    margin-left: 5px;
}

#time {
    color: hsl(215, 51%, 70%);
    margin-left: 5px;
}

hr {
    width: 14.3rem;
    margin-left: 0%;
}

.foot {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 90%;
    height: 3rem;
}

.foot > p {
    margin-left: 20px;
}

#avatar {
    width: 30px; 
    height: 30px;
    border: 1px solid white;
    border-radius: 50%;
}

#name {
    color: white;
}

#name:hover {
    color: hsl(178, 100%, 50%);
}

.attribution { 
    position:absolute;
    bottom: 0;
    font-size: 11px; 
    text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}

@media screen and (max-width: 375px)  {
    .container {
        margin-top: 10%;
    }
}